/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 120px;
    width: calc(100% - 240px); /* Adjust width to account for margins */
    z-index: 10; /* Ensure the navbar stays on top */
    position: fixed; /* Fix the navbar to the top */
    top: 0; /* Align the navbar to the top of the viewport */
    left: 0; /* Align the navbar to the left of the viewport */
    background-color: transparent; /* Transparent background */
    padding: 10px; /* Optional: Add padding for better spacing */
    color: white; /* Text color */
  }
  
  .nav-logo {
    font-family: 'Outfit', sans-serif; /* Ensure font-family is correctly applied */
    font-size: 42px;
    font-weight: 500;
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 18px;
    gap: 90px;
  }
  
  .nav-contact {
    border-radius: 50px;
    padding: 10px 38px;
    background: #fff;
    color: #262626;
  }
  